<nav class="categories">
  <ul>
    <li><%= link_to "BEGINNER", category_posts_path(:category_id) %><p>Click on this category and learn cool new commands for beginners. </p></li>

    <li><%= link_to "RUBY", category_posts_path(:category_id) %><p>Click on this category and learn cool new commands for Ruby. </p></li>

    <li><%= link_to "TERMINAL", category_posts_path(:category_id) %><p>Click on this category and learn cool new commands for Terminal.</p></li>
  </ul>
</nav>
