<div class="header">
  <h3 class="text-center">DEVELOPER COMMAND HACKS ALLOWS YOU TO LEARN NEW SHORTCUTS EVERYDAY</h3>
  <h4 class="text-center">Click on a category and start learning.</h4>
  <h4 class="text-center">These hacks will definitely shave valuable seconds from a developer's life.</h4>
</div>

<!-- <div id="slider">
  <a href="#" class="control_next"> > </a>
  <a href="#" class="control_prev"> < </a>
  <ul>
    <li>
      <h2>Copy Highlighted Text</h2>
      <p>Beginner</p>
      <p>cmd-c</p>
      <p>Copy highlighted text with this command.</p>
    </li>
    <li>
      <h2>Paste Highlighted Text</h2>
      <p>Beginner</p>
      <p>cmd-p</p>
      <p>Paste highlighted text with this command.</p>
    </li>
    <li>
      <h2>Close Tab Easily</h2>
      <p>Atom</p>
      <p>cmd-w</p>
      <p>Close a tab without trying to find the little X.</p>
    </li>
  </ul>
</div> -->

<nav class="categories">
  <% @categories.each do |category| %>
    <h4 class="text-center">
      <%= link_to category.name.upcase, category_posts_path(category) %>
      <p>Click on this category<br>and learn cool new commands<br>for <%=category.name%>.</p>
    </h4>
  <% end %>
</nav>
